.search-bar-landing {
  width: 1000px;
  margin: 32px;
  margin-left: 200px;

  .form-control {
    border-radius: 50px;
  }
  //.btn-primary {
  //  border: solid;
  //  border-radius: 50px;
  //}
}
